<head>
<style>
tr {
  white-space: nowrap;
}
.results {
  text-align: right;
  min-width: 6em;
  color: black;
}
</style>
<script src="popup.js"></script>
</head>
<body>
<table>
  <tr>
    <td><button id="testConnect">Testuj komuikacje</button></td>
    <td id="resultsConnect" class="results">(results)</td>
  </tr>
</table>
</body>
